<ion-header>
  <ion-toolbar>
    <ion-title>{{title}}</ion-title>
    <ion-buttons slot="start">
      <ion-button (click)="close()">
        <ion-icon name="chevron-back-outline"></ion-icon>
        Back</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <app-appointment-form
    *ngIf="type === entityType.Appointment"
    (closeModal)="close()"
    [currentClient]="currentClient"
  ></app-appointment-form>
  <app-appointment-request-cancelation-form
    *ngIf="type === entityType.AppointmentRequest"
    (closeModal)="close()"
    [currentClient]="currentClient"
    [appointmentId]="appointmentId"
  ></app-appointment-request-cancelation-form>
</ion-content>
