<ion-content [fullscreen]="true" class="ion-no-padding">
  <app-client-appointments [currentClient]="currentClient" [appointments]="approvedAppointments"
                           type="Approved"></app-client-appointments>
  <app-client-appointments [currentClient]="currentClient" [appointments]="inProgressAppointments"
                           type="In Progress"></app-client-appointments>
  <app-client-appointments [currentClient]="currentClient" [appointments]="pendingAppointments"
                           type="Pending"></app-client-appointments>
  <ion-fab horizontal="end">
    <ion-fab-button>
      <ion-icon id="open-modal" name="add" (click)="openNewAppointmentModal()"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
