<ion-content [fullscreen]="true">
  <div class="ion-padding ion-justify-content-center">
    <ion-img class="ion-padding" src="assets/images/logo_transparent.png"></ion-img>
    <form [formGroup]="form" (submit)="submit()">
      <div>
        <ion-input
          type="text"
          fill="solid"
          label="Username"
          labelPlacement="floating"
          helperText="Enter your username"
          formControlName="username"
        ></ion-input>

        <ion-input
          type="password"
          fill="solid"
          label="Password"
          labelPlacement="floating"
          helperText="Enter your password"
          formControlName="password"
        ></ion-input>

        <ion-button type="submit" class="ion-padding-top" fill="outline" color="primary" expand="full"
                    [disabled]="loadingData">
          <span *ngIf="!loadingData">Login</span>
          <ion-icon *ngIf="!loadingData" name="log-in-outline"></ion-icon>
          <ion-spinner *ngIf="loadingData" name="dots"
                       color="primary"></ion-spinner>
        </ion-button>
      </div>
    </form>
  </div>
</ion-content>



