<ion-tabs>
  <ion-tab tab="appointments">
    <app-appointments></app-appointments>
  </ion-tab>

  <ion-tab tab="measurements">
    <app-body-measurements></app-body-measurements>
  </ion-tab>

  <ion-tab tab="profile">
    <app-profile></app-profile>
  </ion-tab>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="appointments">
      <ion-icon name="calendar-number-outline"></ion-icon>
      Appointments
    </ion-tab-button>
    <ion-tab-button tab="measurements">
      <ion-icon name="scale-outline"></ion-icon>
      Measurements
    </ion-tab-button>
    <ion-tab-button tab="profile">
      <ion-icon name="person-outline"></ion-icon>
      Profile
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
